	<div class= "mainimage">
		<%= image_tag 'backimage3.jpg', :size => '1100x500' %>
	</div>

	<div class= "maintopic">
		<h3>For Fortunesでは？</h3>
		<h4>人々の日常に彩りを添える絵・絵本を完全オーダーメイドで承ります。<br>どんなスペースにもマッチするものを書きますよ。まずは見てください。</h4>
	</div>

	<div class= "midimage">
		<%= image_tag 'backimage6.jpg', :size => '1100x500' %>
	</div>

	<div class= "gallary">
		<h5>ギャラリー</h5>
		<h6>風景や人物などその場そのときに合った絵を鮮やかな色使いと繊細なタッチで描き上げました
		</h6>

	<table class="works">
			<tr>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto2.jpg"><img src="../images/workphoto2.jpg" width="380" height="250" /></a>
					<p>公園の紅葉</p>	
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto3.jpg"><img src="../images/workphoto3.jpg" width="380" height="250" /></a>
					<p>春を待つ</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto4.jpg"><img src="../images/workphoto4.jpg" width="380" height="250" /></a>
					<p>枯れ葉</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
			</tr>

			<tr>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto5.jpg"><img src="../images/workphoto5.jpg" width="380" height="250" /></a>
					<p>柿</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto6.jpg"><img src="../images/workphoto6.jpg" width="380" height="250" /></a>
					<p>唐辛子</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto8.jpg"><img src="../images/workphoto8.jpg" width="380" height="250" /></a>
					<p>ヴェネツィア</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
			</tr>
			<tr>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto9.jpg"><img src="../images/workphoto9.jpg" width="380" height="250" /></a>
					<p>旅先の古城</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto10.jpg"><img src="../images/workphoto10.jpg" width="380" height="250" /></a>
					<p>プラハ</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto11.jpg"><img src="../images/workphoto11.jpg" width="380" height="250" /></a>
					<p>なごり雪</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
			</tr>
			<tr>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto13.jpg"><img src="../images/workphoto13.jpg" width="380" height="250" /></a>
					<p>さくら並木</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto15.jpg"><img src="../images/workphoto15.jpg" width="380" height="250" /></a>
					<p>待つ</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto16.jpg"><img src="../images/workphoto16.jpg" width="380" height="250" /></a>
					<p>眠る</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
			</tr>
			<tr>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto17.jpg"><img src="../images/workphoto17.jpg" width="380" height="250" /></a>
					<p>帽子をかぶった犬</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto18.jpg"><img src="../images/workphoto18.jpg" width="380" height="250" /></a>
					<p>見つめる</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
								<td>
					<a class="fancybox" rel="group" href="../images/workphoto17.jpg"><img src="../images/workphoto12.jpg" width="380" height="250" /></a>
					<p>母の日</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
			</tr>
			<tr>
				<td>
					<a class="fancybox" rel="group" href="../images/workphoto18.jpg"><img src="../images/workphoto14.jpg" width="380" height="250" /></a>
					<p>見上げる</p>
					<p class="price">¥5800~</p><a href="purchase.html" class="button">購入する</a>
				</td>
			</tr>
		</table>
	</div>