/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*ページ全体 */
body{
	margin: 0;
	background-attachment: fixed;
	font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:rgba(0,0,0,0.8);
	height:100%;
}

#container{
	height:100%;
}

#content{
	margin-bottom: 150px;
}

/*ヘッダー部分の装飾とプルダウンメニューバーのスタイルのはじまり*/
#menubar{
	margin:auto;
	height:50px;
	width:900px;
}


#dropmenu {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 950px; /* 十分な横幅があればこれはいらない */
	float: left; /* floatで高さが無くなる対策 */
	text-align: center;
}

#dropmenu > li {
	float: left;
position: relative; /* 子メニューにabsoluteを設定するため */
}

#dropmenu li a {
	display: block; /* aタグはインライン要素なのでブロックレベル要素にする */
	text-align: center;
	height: 20px;
	width: 150px;
	padding-top: 10px;
	font-size: 17px;
	color: #000;
	text-decoration: none;
}

#dropmenu li ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: absolute;
	top:32px;
	left:0px;
	overflow: hidden;
	height: 0px;
}

#dropmenu li:hover ul {
	height: 100px;
}
.mainimage{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:80px;
}
h1{
	text-align: center;
}
/*ヘッダー部分の装飾とプルダウンメニューバーのスタイルのおわり*/

h3{
	font-size: 30px;
	margin: 0;
	display: block;
	height:80px;
	text-align: center;
	width: 100%;
	line-height:100px;
	background-color:#EEEEEE;
	margin-top:50px;
}

h4{
	margin:0;
}

h5{
	margin:0;
	font-size:30px;	
	padding-top:20px;
}

.maintopic{
	text-align: center;
	background-color: #EEEEEE;
	margin:auto;
	padding-top:20px;
}

.midimage{

text-align: center;
	margin-left:auto;
	margin-right:auto;	
	background-color: #EEEEEE;
	margin:0;
}

.gallary{
	text-align: center;
	margin-left:auto;
	margin-right:auto;	
	margin:0;
}

.works{
	margin:auto;
}

#footer{
	height:200px;
	background-color:black;
	text-align: center;
	width:100%;
	color:white;
	display:block;
	line-height:100%;
}

