/*membersの会員情報テーブル*/

div#editpage{
	text-align:center;
}
	
table.attr {
	border-width: 1px;
	border-spacing: 1px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;
	width: auto;
	text-align: center;
	margin: 10px auto;
	letter-spacing: 1px;
}

table.attr th {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: #333;
	-moz-border-radius: 0px;
	width: 150px;
	color: #f2f2f2;
}
table.attr td {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: #666;
	-moz-border-radius: 0px;
	width: 200px;
}


/*local/membersのページ：会員名簿の始まり*/

div#memberpage{
	text-align:center;
}

/* listの色を交互に変える。*/
table.list tr:nth-child(2n) td {
    background-color: #E9F4FC;
}
table.list tr:nth-child(2n) th {
    background-color: #E9F4FC;
}

table.list{

	border-width: 1px;
	border-spacing: 1px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;
	width: auto;
	text-align: center;
	margin: 10px auto;
	letter-spacing: 1px;
	
}
/*local/membersのページ：会員名簿の終了*/